<section id="about" #about>
  <div class="contenitore">
    <h3>ABOUT</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="sottocontenitore">
          <img class="esagonale" src="assets/img/fly7.png">
        </div>
      </div>
      <div class="col-md-6">
        <h5 class="text-left">Who's this guy?</h5>
        <p>Ciao a tutti il mio nome è Filippo Papagno e sono un Junior Web Developer <br>
          Developer
          Ho svolto i miei studi presso l'I.T.C.L. Marco Polo di Bari conseguendo
           il diploma in ragioneria e programmazione informatica.
           Dopo varie esperienze lavorative in più campi e settori nel 2019 ho deciso di seguire la mia passione
            e formarmi come programmatore informatico, nello specifico lato web.
             Ho intrapreso un percorso di formazione con l'ente Informa Scarl,
             concluso con l'esame finale e con l'otteminemento della qualifica professionale
             come tecnico della programmazione. In futuro spero di poter far parte di un'azienda o
              di una realtà che mi faccia crescere professionalmente e personalmente espandendo quelle che sono le mie skills attuali!
        </p>
      </div>
    </div>
    <br>
  </div>
</section>

<!--
  <div class="col-md-6">
    <div class="barra">
      <div class="contenitore-barra" style="max-width: 90%;">
        <div class="linguaggio">HTML
        </div>
        <span>90%</span>
      </div>
    </div>
     <br>
     <div class="barra">
       <div class="contenitore-barra" style="width: 80%;">
           <div class="linguaggio">CSS</div>
           <span>80%</span>
      </div>
     </div>
    <br>
    <div class="barra">
      <div class="contenitore-barra" style="width: 60%;">
        <div class="linguaggio">JAVASCRIPT</div>
        <span>60%</span>
      </div>
    </div>
    <br>
    <div class="barra">
      <div class="contenitore-barra" style="width: 60%;">
        <div class="linguaggio">TYPESCRIPT</div>
        <span>60%</span>
      </div>
    </div>
    <br>
    <div class="barra">
      <div class="contenitore-barra" style="width: 60%;">
        <div class="linguaggio">JQUERY</div>
        <span>60%</span>
      </div>
    </div>
    <br>
    <div class="barra">
      <div class="contenitore-barra" style="width: 50%;">
        <div class="linguaggio">ANGULAR</div>
        <span>50%</span>
      </div>
    </div>
    <br>
    <div class="barra">
      <div class="contenitore-barra" style="width: 40%;">
        <div class="linguaggio">.NET</div>
        <span>40%</span>
      </div>
    </div>

    </div>

-->
