nav{
  background-color: #1b242f;
  .navbar-collapse{
    padding-left: 85px;
    .nav-item{
      a{
        color:white;
        cursor: pointer;
        &:hover{
          color:#04c2c9;
        }
      }
      &:first-child{
        a{
          color: #04c2c9;
        }
      }
    }
  }
}
.navbar-light .navbar-toggler-icon{
  background-image: url("https://img.icons8.com/office/16/000000/menu--v1.png");
}
@media screen and (max-width:768px) {
  nav{
    .navbar-collapse{
      padding-left: 0px;
    }
  }
}



