<section id="projects">
  <div class="contenitore">
    <h3>PROJECTS</h3>
  </div>

  <div class="container" style="background-color:#f5f5f5;">
    <div class="row">
      <div class="col-md-4">
        <div class="sottocontenitore">
          <video width="400" controls>
            <source src="assets/img/workinprogress.mp4" type="video/mp4">
            Your browser does not support HTML video.
          </video>
          <p>Progetto realizzato con il pattern MVC di .NET, utilizzando Entity Framework</p>
          <div class="contenitore-bottone">
            <button type="button" class="btn btn-outline-secondary">GO TO SOURCE CODE</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sottocontenitore">
          <video width="400" controls>
            <source src="assets/img/workinprogress.mp4" type="video/mp4">
          </video>
          <p>Progetto realizzato con il pattern MVC di .NET e Angular</p><br>
          <div class="contenitore-bottone">
            <button type="button" class="btn btn-outline-secondary">GO TO SOURCE CODE</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sottocontenitore">
          <video width="400" controls>
            <source src="assets/img/workinprogress.mp4" type="video/mp4">
          </video>
          <p>Progetto realizzato con HTML,CSS e Javascript</p><br>
          <div class="contenitore-bottone">
            <button type="button" class="btn btn-outline-secondary">GO TO SOURCE CODE</button>
          </div>
        </div>
      </div>
    </div>
    <br>

  </div>

</section>
