<section class="contenitore contact" id="contacts">
  <div class="contenitore-bottone">
    <button type="button" class="btn btn-outline-primary" (click)="tornaSu()"><img src="assets/img/up-arrow.png"></button>
  </div>
  <div class="box">
    <h3>CONTACTS</h3>
    <p>Hai qualche domanda da farmi o vuoi collaborare con me?</p>
  </div>
  <div class="box">
    <img src="assets/img/message.png">&nbsp;
    <a href="mailto:f.papagno94@gmail.com">
      f.papagno94@gmail.com</a>
  </div>
</section>

<footer class="social">
  <div class="box">
    <a href="https://www.linkedin.com/in/papagno-filippo/" target="_blank"><img src="assets/img/linkedin.png"></a>&nbsp;
    <img src="assets/img/instagram.png">&nbsp;
    <img src="assets/img/facebook.png">&nbsp;
  </div>
</footer>

<div class="box text-center">
  <span>FILIPPO PAPAGNO ©2021</span>
</div>
