<section class="contenitore contact">
  <div class="box">
    <h3>CONTACTS</h3>
    <p>Hai qualche domanda da farmi o vuoi collaborare con me?</p>
  </div>
  <div class="box">
    <img src="assets/img/message.png">&nbsp;
    <a href="mailto:f.papagno94@gmail.com">
      f.papagno94@gmail.com</a>
  </div>
</section>

<footer class="social">
  <div class="box">
    <img src="assets/img/linkedin.png">&nbsp;
    <img src="assets/img/instagram.png">&nbsp;
    <img src="assets/img/facebook.png">&nbsp;
  </div>
</footer>

<div class="box text-center">
  <span>FILIPPO PAPAGNO ©2021</span>
</div>
