<section id="skills">
  <div class="contenitore">
    <h3>SKILLS</h3>
  </div>

  <div class="container" style="background-color:#f5f5f5;">
    <div class="row">
      <div class="col-md-6">
        <div class="sottocontenitore">
          <img class="esagonale" src="assets/img/skills.png">
        </div>
      </div>
      <div class="col-md-6">
        <div class="barra">
          <div class="contenitore-barra" style="max-width: 90%;">
            <div class="linguaggio">HTML
            </div>
            <span>90%</span>
          </div>
        </div>
         <br>
         <div class="barra">
           <div class="contenitore-barra" style="width: 80%;">
               <div class="linguaggio">CSS</div>
               <span>80%</span>
          </div>
         </div>
        <br>
        <div class="barra">
          <div class="contenitore-barra" style="width: 60%;">
            <div class="linguaggio">JAVASCRIPT</div>
            <span>60%</span>
          </div>
        </div>
        <br>
        <div class="barra">
          <div class="contenitore-barra" style="width: 60%;">
            <div class="linguaggio">TYPESCRIPT</div>
            <span>60%</span>
          </div>
        </div>
        <br>
        <div class="barra">
          <div class="contenitore-barra" style="width: 60%;">
            <div class="linguaggio">JQUERY</div>
            <span>60%</span>
          </div>
        </div>
        <br>
        <div class="barra">
          <div class="contenitore-barra" style="width: 50%;">
            <div class="linguaggio">ANGULAR</div>
            <span>50%</span>
          </div>
        </div>
        <br>
        <div class="barra">
          <div class="contenitore-barra" style="width: 40%;">
            <div class="linguaggio">.NET</div>
            <span>40%</span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <h5 class="text-center">What Can I do?</h5>
    <p class="text-center"> ipsum dolor sit amet consectetur adipisicing elit. Perferendis nobis optio debitis beatae vitae asperiores animi quas sed voluptas
         blanditiis sunt, tempore officiis laborum, ipsa, aut illo? Repellendus, officia explicabo?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum magni optio aperiam asperiores, corrupti est minima at sed maxime assumenda natus magnam voluptatum adipisci in neque, ipsum rem? Sapiente,
         quaerat.</p>
  </div>

</section>
